/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000; /* Black background */
  color: white;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  color: white; /* White color for the logo text */
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
}

.navItem a {
  color: white; /* White color for the links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #ccc; /* Lighter color on hover */
}
